<!doctype html>
<html lang="zh-CN" style="height: 100%; width: 100%">
<head>
    <meta charset="utf-8">
    <title>跨学科知识图谱智能体</title>
</head>

<body style="background-color: #789c8c;">
    <!-- 导航栏 -->
    <div class="nav">
        <link type="text/css" href="frontend/static/css/navigater.css" rel="stylesheet">
        <ul class="navlist">
            <li class="btli"><a href="index.html">项目首页</a>
                <ul class="droplist">
                    <li><a href="index.html">项目首页</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">可视化大屏</a>
                <ul class="droplist">
                    <li><a href="graph.html">绘制知识图谱</a></li>
                    <li><a href="">知识查询</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">案例展示</a>
                <ul class="droplist">
                    <li><a href="">神经科学&深度学习</a></li>
                    <li><a href="">信息论熵&热力学熵</a></li>
                    <li><a href="">最小二乘&线性回归</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">资源下载</a>
                <ul class="droplist">
                    <li><a href="">项目压缩包</a></li>
                    <li><a href="">数据来源</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">技术总结</a>
                <ul class="droplist">
                    <li><a href="https://www.volcengine.com/">大模型入口</a></li>
                    <li><a href="technologies.html">页面技术</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- 主要内容 -->
    <div style="display: flex; align-items: stretch; gap: 20px; padding: 20px;">
        <!-- 左侧视频 -->
        <div style="flex: 1; position: relative;">
            <div style="color: white; font-size: 50px; font-weight: bold; margin-bottom: 20px;text-align: center">
                体验跨学科知识图谱智能体<br>InterKnow Graph Agent<br>
            </div>
            <video src="frontend/static/video/example.mp4" width="100%" controls autoplay muted loop style="display: block; border-radius: 8px;"></video>
        </div>
        <!-- 右侧时钟 + 图表容器 -->
        <div style="flex-shrink: 0; width: 40%; display: flex; flex-direction: column; gap: 20px; height: 700px;">
            <!-- 时钟 -->
            <div style="width: 100%; height: 40%; background: #224535; border-radius: 8px; padding: 10px; display: flex; flex-direction: column; justify-content: center;">
                <link href="frontend/static/css/clock_set.css" rel="stylesheet">
                <div style="color: white; font-size: 30px; font-weight: bold; text-align: center; margin-bottom: 10px;">
                    截止<br>
                </div>
                <div id="digital-clock" class="digital-clock text-primary" style="text-align: center; color: white;"></div>
                <div id="date-display" class="date-display" style="text-align: center; color: white; margin-top: 10px;"></div>
                <script src="frontend/static/js_lib/clock_lib.js"></script>
                <script src="frontend/static/js/clock.js"></script>
                <div style="color: white; font-size: 30px; font-weight: bold; text-align: center; margin-bottom: 10px;">
                    访问数量与已处理的tokens量如下<br>
                </div>
            </div>
            <!-- 图表 -->
            <div style="width: 100%; height: 60%; background: rgb(159, 124, 37); border-radius: 8px; padding: 10px;">
                <script src="frontend/static/js_lib/echarts.min.js"></script>
                <div id="count_and_tokens" style="width: 100%; height: 100%;"></div>
                <script src="frontend/static/js/counts_and_tokens.js"></script>
            </div>
        </div>
    </div>

</body>
</html>