<!doctype html>
<html lang="zh-CN" style="height: 100%; width: 100%">
<head>
    <meta charset="utf-8">
    <title>跨学科知识图谱智能体</title>
</head>

<body style="background-color: #789c8c;">
    <!-- 导航栏 -->
    <div class="nav">
        <link type="text/css" href="../static/css/navigater.css" rel="stylesheet">
        <ul class="navlist">
            <li class="btli"><a href="index.html">项目首页</a>
                <ul class="droplist">
                    <li><a href="index.html">项目首页</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">可视化大屏</a>
                <ul class="droplist">
                    <li><a href="">绘制知识图谱</a></li>
                    <li><a href="">知识查询</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">案例展示</a>
                <ul class="droplist">
                    <li><a href="">神经科学&深度学习</a></li>
                    <li><a href="">信息论熵&热力学熵</a></li>
                    <li><a href="">最小二乘&线性回归</a></li>
                </ul>
            </li>
            <li class="btli"><a href="">技术总结</a>
                <ul class="droplist">
                    <li><a href="https://www.volcengine.com/">大模型入口</a></li>
                    <li><a href="technologies.html">页面技术</a></li>
                </ul>
            </li>
        </ul>
    </div>

    

</body>
</html>